<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.epec.mapper.OrderMapper">
	<resultMap id="BaseResultMap" type="com.epec.model.Order">
		<id column="order_id" property="orderId" jdbcType="BIGINT" />
		<result column="buyer_id" property="buyerId" jdbcType="BIGINT" />
	</resultMap>
	<select id="getOrderListByBuyerId" resultMap="BaseResultMap"
		parameterType="long">
		select order_id, buyer_id
		from t_order
		where buyer_id=#{buyerId}
	</select>
	<insert id="createOrder" parameterType="com.epec.model.Order">
		insert into
		t_order(order_id, buyer_id) values ( #{orderId}, #{buyerId})
	</insert>

	<select id="getOrderListByParams" resultType="com.epec.model.vo.OrderVO">
		select o.order_id, o.buyer_id, count(distinct oi.order_item_id) as order_item_count
		from t_order o inner join t_order_item oi on o.order_id=oi.order_id
		where
			1=1
			<if test="buyerId != null">
				and o.buyer_id=#{buyerId}
			</if>
		<if test="skuCode != null and skuCode !=''">
			and oi.sku_code = #{skuCode, jdbcType=VARCHAR}
		</if>
		group by o.order_id, o.buyer_id
	</select>

</mapper>